* {
    margin: 0;
    padding: 0;
}

html, body {
    background-color: #262626;
    /* no scroll when control is unactive */
    overflow: hidden;
}

.webgl {
    position: fixed;
    top:0;
    left:0;
    outline: none;
}